@model App.ApplicationCore.Domain.Client
@{
    //ViewData["Title"] = "LoginIn";
    ViewData["Title"] = "Client";
}
<br />
<p></p>
<br />
<p></p>
<br />
<p></p>
<br />
<p></p>
<h1>
    Votre Opération A Eté Effectuée Avec Succès
</h1>
<hr />
<h2>
    Veuillez Creer Votre Reservation
</h2>
<br />
<a asp-controller="Reservation" asp-action="Create" class="btn btn-secondary">Creer Reservation</a>

