@model App.ApplicationCore.Domain.Client
@{
    //ViewData["Title"] = "LoginIn";
    ViewData["Title"] = "Reservation";
}
<h1>
    Bienvenue
</h1>
<hr />
<h2>
    Veuillez Creer Votre Reservation
</h2>
<br />
<a asp-controller="Reservation" asp-action="Create" class="btn btn-secondary">Creer Reservation</a>