<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - App.UI.Web</title>*@
    <title>
        @ViewData["Title"]
        @*<img src="~/css/logo_covoiturage.png" alt="Logo de Covoiturage" style="width: 20px;">*@
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.UI.Web.styles.css" asp-append-version="true" />
    <link href="~/icon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light btn-group-vertical border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="LoginIn"><h3>Connexion</h3></a>
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h3>Accueil</h3></a>*@
            <div/>
        <nav/>
        <nav>
        <table class="table">
            <thead>
                <tr>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <th>
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                    <a href="https:www.facebook.com/" target="_blank">
                                        <h3><i class="fab fa-facebook"></i></h3>@*Suivez-nous sur Facebook*@
                                    </a>
                                </li>
                            </ul>
                        </th>
                        <th>
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <h3><i class="fab fa-instagram"></i></h3>@*Suivez-nous sur Instagram*@
                                </li>
                            </ul>
                        </th>
                        <th>
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                <a href="https://www.google.com/maps" target="_blank">
                                <h3><i class="fas fa-map-marker-alt fa-xs"></i></h3>@*Ouvrir dans Google Maps*@
                                </a>
                                </li>
                            </ul>
                        </th>
                     </div>
                </tr>
            </thead>
        </table>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<footer class="border-top footer text-muted">*@
    <p></p>
    <br />
    <p></p>
    <br />
    <p></p>
    <br />
    <p></p>

    <footer>
        <br />
        <div class="container">
            @*&copy; 2022 - App.UI.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            
            
            &copy; 2023 - Location Voiture
            <img src="~/css/Location_SBG.png" alt="Logo de notre reservation" style="width: 100px;">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


























@*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">App.UI.Web</a>*@

@*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@



@*<li class="nav-item">*@
    @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@
@*</li>*@
@*<li class="nav-item">*@
    @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
@*</li>*@