@model App.ApplicationCore.Domain.Reservation
@{
    //ViewData["Title"] = "LoginIn";
    ViewData["Title"] = "Reservation";
}
<br />
<p></p>
<br />
<p></p>
<br />
<p></p>
<br />
<p></p>
<h1>
    Votre Opération A Eté Effectuée Avec Succès
</h1>
